.contenedor{
    display: flex;
    justify-content: space-evenly;
}

.caja{
    width: 20%;
    background-color: goldenrod;
    font-size: 2em;
    border-radius: 12px;
    color:black ;
    border: 1px solid black;
    text-align: center;
    padding:12px ;
    margin: 20px;
}

img{
    width: 300px;
}